body{
    background-color:#efefef;

}
.main{
    background-color: white;
    margin: 30px;
}

.publish_button{
    float: right;
    margin-bottom: 15px;
}
.media-object{
    width: 38px;
    height: 38px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999;
}
.profile .section{
    margin-top: 15px;
}
.community-menu{
    color: #999;
    font-size: 13px;
}
.jumpbutton{
    margin: 50px;
}
.community-name{
    padding-top: 10px;
}
.comment{
    margin: 10px 0;
}
.comments{
    margin-bottom: 15px;
    border-bottom:1px solid #eee;
    padding-bottom: 5px;
}
.comment-btn{
    float: right;
    margin-bottom: 10px;
}
.comment_sp{
    margin-top: 0px;
}
.menu{
    color: #999;
    margin-top: 5px;
}
.menu .icon{
    margin-right: 6px;
    font-size: 15px;
    cursor: pointer;
}
.menu .icon:hover{
    color: #499ef3;
}
